services:
  privacy-ledger:
    image: registry.parfin.io/rayls-privacy-ledger:v1.8.6
    entrypoint: ["/app/var/start.sh"]
    volumes:
      - ./rayls/privacy-ledger/data:/app/data
      - ./rayls/privacy-ledger/var/config.toml:/app/var/config.toml:ro
      - ./rayls/privacy-ledger/var/genesis.json:/app/var/genesis.json:ro
      - ./rayls/privacy-ledger/var/start.sh:/app/var/start.sh
    environment:
      - MONGODB_DATABASE=rayls-privacy-ledger
      - MONGODB_CONN=MONGODB_CONNECTION_STRING
    ports:
      - 8545:8545
      - 8660:8660
    healthcheck:
      test: 
        - "CMD-SHELL"
        - "curl -X POST -H 'Content-Type: application/json' --data '{\"jsonrpc\":\"2.0\",\"method\":\"eth_getBlockByNumber\",\"params\":[\"latest\", true],\"id\":1}' localhost:8545"
      interval: 30s
      timeout: 10s
      retries: 5
  relayer:
      image: registry.parfin.io/rayls-relayer:v1.8.6.1
      entrypoint: ["/app/raylz-relayer", "run", "--config", "/app/var/empty-config.json"]
      volumes:
       - ./rayls/relayer/var/config.json:/app/var/empty-config.json:ro
      restart: on-failure
      environment:
      - RELAYER_DATABASE_TYPE=mongodb
      - RELAYER_DATABASE_NAME=rayls-relayer
      - RELAYER_DATABASE_CONNECTIONSTRING=MONGODB_CONNECTION_STRING
      - RELAYER_BLOCKCHAIN_CHAINURL=http://privacy-ledger:8545
      - RELAYER_BLOCKCHAIN_CHAINWSURL=ws://privacy-ledger:8660  
      - RELAYER_BLOCKCHAIN_CHAINID=BLOCKCHAIN_CHAIN_ID
      - RELAYER_BLOCKCHAIN_BATCHSIZE=1500
      - RELAYER_COMMITCHAIN_CHAINURL=http://commitchain-sandbox.parfin.corp:8545
      - RELAYER_COMMITCHAIN_CHAINWSURL=ws://commitchain-sandbox.parfin.corp:8546
      - RELAYER_COMMITCHAIN_COMMITCHAINPLSTORAGECONTRACT=0x7613D140eb115BDFCAE334688Ff1faC55ae9EE7F
      - RELAYER_COMMITCHAIN_PARTICIPANTSTORAGECONTRACT=0x2e1C99843DAFE7e76070774AA3E8bA6f7e35F029
      - RELAYER_COMMITCHAIN_CHAINID=381660001
      - RELAYER_COMMITCHAIN_CCSTARTINGBLOCK=4809558
      - RELAYER_COMMITCHAIN_CCATOMICREVERTSTARTINGBLOCK=4809558
      - RELAYER_COMMITCHAIN_VERSION="1.8.6.2"
      - RELAYER_COMMITCHAIN_ATOMICTELEPORTCONTRACT=0x41bAaAD1Fc3ac744e4637517dB679335E6b1527f
      - RELAYER_COMMITCHAIN_RESOURCEREGISTRYCONTRACT=0x9d10BD36be08f7473bC88b4b5eFeD8012E067B03
      - RELAYER_COMMITCHAIN_CCENDPOINTADDRESS=0x9935Ae2651cC85C17cF887180A8D3e357DfC9Ad5
      - RELAYER_COMMITCHAIN_BALANCECOMMITMENTCONTRACT=0xd2b2F75ADb81B0C307944E4F462Be2BA8387Ba81
      - RELAYER_COMMITCHAIN_TOKENREGISTRYCONTRACT=0x7C22D2994E72bbdB98AB2250D2A8be7B8962806e
      - RELAYER_COMMITCHAIN_OPERATORCHAINID=999
      depends_on:
      - privacy-ledger