services:
  privacy-ledger:
    image: us-east1-docker.pkg.dev/rayls-public/rayls/rayls-privacy-ledger:v1.8.6
    entrypoint: ["/app/var/start.sh"]
    volumes:
      - ./rayls/privacy-ledger/data:/app/data
      - ./rayls/privacy-ledger/var/config.toml:/app/var/config.toml:ro
      - ./rayls/privacy-ledger/var/genesis.json:/app/var/genesis.json:ro
      - ./rayls/privacy-ledger/var/start.sh:/app/var/start.sh
    environment:
      - MONGODB_DATABASE=rayls-privacy-ledger
      - MONGODB_CONN=MONGODB_CONNECTION_STRING
    ports:
      - 8545:8545
      - 8660:8660
  relayer:
      image: us-east1-docker.pkg.dev/rayls-public/rayls/rayls-relayer:v1.8.6.1
      entrypoint: ["/app/raylz-relayer", "run", "--config", "/app/var/empty-config.json"]
      volumes:
       - ./rayls/relayer/var/config.json:/app/var/empty-config.json:ro
      restart: on-failure
      environment:
      - RELAYER_DATABASE_TYPE=mongodb
      - RELAYER_DATABASE_NAME=rayls-relayer
      - RELAYER_DATABASE_CONNECTIONSTRING=MONGODB_CONNECTION_STRING
      - RELAYER_BLOCKCHAIN_CHAINURL=http://privacy-ledger:8545
      - RELAYER_BLOCKCHAIN_CHAINWSURL=ws://privacy-ledger:8660  
      - RELAYER_BLOCKCHAIN_CHAINID=BLOCKCHAIN_CHAIN_ID
      - RELAYER_BLOCKCHAIN_BATCHSIZE=1500
      - RELAYER_COMMITCHAIN_CHAINURL=COMMIT_CHAIN_RPC_URL
      - RELAYER_COMMITCHAIN_CHAINWSURL=COMMIT_CHAIN_WS_URL
      - RELAYER_COMMITCHAIN_COMMITCHAINPLSTORAGECONTRACT=0x4066b405B6FD10798b7c310C1aa77b351aAC6B8C
      - RELAYER_COMMITCHAIN_PARTICIPANTSTORAGECONTRACT=0x8863d38A64D5B59F5208b163801e60dEb9eB9AD5
      - RELAYER_COMMITCHAIN_CHAINID=381660001
      - RELAYER_COMMITCHAIN_CCSTARTINGBLOCK=5966146
      - RELAYER_COMMITCHAIN_CCATOMICREVERTSTARTINGBLOCK=5966146
      - RELAYER_COMMITCHAIN_VERSION="1.8.6.2"
      - RELAYER_COMMITCHAIN_ATOMICTELEPORTCONTRACT=0x27A7DB9E328E68F1ab2cF86Bc803Ee4cF264fffc
      - RELAYER_COMMITCHAIN_RESOURCEREGISTRYCONTRACT=0xc44f4350544F3E075b11243fcf83A864d575c0c7
      - RELAYER_COMMITCHAIN_CCENDPOINTADDRESS=0x6928638433Dd9116A4A02b0813E1B19723C9f8F6
      - RELAYER_COMMITCHAIN_BALANCECOMMITMENTCONTRACT=0xC7f7f47800d510B22DB2e9c1e3090c0E4B51Cc30
      - RELAYER_COMMITCHAIN_TOKENREGISTRYCONTRACT=0x06585a6C01f9bcD21dE797479fdCBaFAc6c161b2
      - RELAYER_COMMITCHAIN_OPERATORCHAINID=999
      depends_on:
      - privacy-ledger
